@import url(https://fonts.googleapis.com/css?family=Raleway);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);


// Grid
@mixin grid($column) {
  width: (100% / 12) * $column;
  margin: 0 auto;
}

// Transition Ease
@mixin ease($time: 333ms, $attr: all, $curve: ease-in-out) {
  -webkit-transition: $attr $time $curve;
  -moz-transition: $attr $time $curve;
  -o-transition: $attr $time $curve;
  -ms-transition: $attr $time $curve;
  transition: $attr $time $curve;
}

//-- Lato --//
@mixin lato-1 {
  font-family: "Lato", sans-serif;
  font-weight: 100;
}
@mixin lato-1-i {
  @include lato-1;
  font-style: italic;
}

@mixin lato-3 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
@mixin lato-3-i {
  @include lato-3;
  font-style: italic;
}

@mixin lato-4 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
}
@mixin lato-4-i {
  @include lato-4;
  font-style: italic;
}

@mixin lato-7 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}
@mixin lato-7-i {
  @include lato-7;
  font-style: italic;
}

@mixin lato-9 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
@mixin lato-9-i {
  @include lato-9;
  font-style: italic;
}

// Colors
$blue: #313a3d;
$orange: #fd9638;
$dark-orange: darken($orange, 20%);
$grey: #b6b6b6;
$light-grey: lighten($grey, 15%);

$background: #efefef;
$field-color: #e8e9ea;

$red: #ff4d54;
$white: #fff;

html,
body {
  margin: 0;
  padding: 0;

  @font-face {
    font-family: vanityLightNarrow;
    src: url("../fonts/vanity/Vanity - TTF/Vanity-LightNarrow.ttf");
  }
}

body {
  overflow: hidden;
  background: url("../img/winteriscoming.gif");
  background-attachment: fixed;
  background-size: cover;
  background-position: center, center;

  .social-icons {
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: fit-content;
    position: fixed;
    top: 0;

    i {
      font-size: 2rem;
      color: white;
      // padding: 10px;
      margin: 3px;
    }
  }
  nav {
    background-color: transparent;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;

      li {
        margin: 1rem;
        list-style: none;

        &.active {
          text-decoration: underline;
        }

        a {
          font-family: "vanityLightNarrow";
          color: white;
          text-decoration: none;
        }
      }
    }
  }
  input::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-webkit-input-placeholder,
  textarea:focus::-webkit-input-placeholder {
    color: #bbb5af;
  }

  input::-moz-placeholder,
  textarea::-moz-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-moz-placeholder,
  textarea:focus::-moz-placeholder {
    color: #bbb5af;
  }

  input::placeholder,
  textarea::placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::placeholder,
  textarea::focus:placeholder {
    color: #bbb5af;
  }

  input::-ms-placeholder,
  textarea::-ms-placeholder {
    color: #aca49c;
    font-size: 0.875em;
  }

  input:focus::-ms-placeholder,
  textarea:focus::-ms-placeholder {
    color: #bbb5af;
  }

  /* on hover placeholder */

  input:hover::-webkit-input-placeholder,
  textarea:hover::-webkit-input-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-webkit-input-placeholder,
  textarea:hover:focus::-webkit-input-placeholder {
    color: #cbc6c1;
  }

  input:hover::-moz-placeholder,
  textarea:hover::-moz-placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-moz-placeholder,
  textarea:hover:focus::-moz-placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::placeholder,
  textarea:hover:focus::placeholder {
    color: #cbc6c1;
  }

  input:hover::placeholder,
  textarea:hover::placeholder {
    color: #e2dedb;
    font-size: 0.875em;
  }

  input:hover:focus::-ms-placeholder,
  textarea:hover::focus:-ms-placeholder {
    color: #cbc6c1;
  }

  #form {
    position: relative;
    width: 500px;
    margin: 50px auto 100px auto;
  }

  input {
    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;

    background: transparent;
    outline: none;
    color: #726659;

    border: solid 1px #b3aca7;
    border-bottom: none;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  input:hover {
    background: #b3aca7;
    color: #e2dedb;
  }

  textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;

    background: transparent;
    outline: none;

    color: #726659;
    font-family: "Lato", sans-serif;
    font-size: 0.875em;

    border: solid 1px #b3aca7;

    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
  }

  textarea:hover {
    background: #b3aca7;
    color: #e2dedb;
  }

  #submit {
    width: 502px;

    padding: 0;
    margin: -5px 0px 0px 0px;

    font-family: "Lato", sans-serif;
    font-size: 0.875em;
    color: #b3aca7;

    outline: none;
    cursor: pointer;

    border: solid 1px #b3aca7;
    border-top: none;
  }

  #submit:hover {
    color: #e2dedb;
  }
}
