// $my-first-color: lightblue;
// $my-second-color: lightgreen;

html, body {
  margin: 0;
  padding: 0;
}

// @font-face {
//   font-family: myFirstFont;
//   src: url(../fonts/aspergit/Aspergit.otf);
// }
// @font-face {
//   font-family: vanityBold;
//   src: url("../fonts/vanity/Vanity - TTF/Vanity-Bold.ttf");
// }
@font-face {
  font-family: vanityLightNarrow;
  src: url("../fonts/vanity/Vanity - TTF/Vanity-LightNarrow.ttf");
}

// * {
//   border: 0.1rem solid white;
// }


// *{
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   font-family: 'vanityLightNarrow', sans-serif;
// }

.social-icons {
  display: flex;
  flex-direction: column;
  padding: 8px;
  width: fit-content;
  position: fixed;
  top: 0;

  i {
    font-size: 2rem;
    color: white;
    // padding: 10px;
    margin: 3px;
  }
}
body {
  overflow: hidden;
  background: url("../img/winteriscoming.gif");
  background-attachment: fixed;
  background-size: cover;
  background-position: center, center;
  padding-bottom: 5rem;


  nav {
    background-color: transparent;
    position: fixed;
    bottom: -45px;
    width: 100%;
    font-size: 2rem;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
   
    ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;

      li {
        margin: 1rem;
        list-style: none;

        &.active {
          text-decoration: underline;
        }
      
        a {
          font-family: 'vanityLightNarrow';
          color: white;
          text-decoration: none;
         
        }
      }
    }
  }

  main {
    display: flex;
    justify-content: center;
    // height: 100%;
    align-items: center;

    .main-content {
      height: 100vh;
      width: 70vw;
      background-color: #000;
      color: white;
    }
  }
}